{% extends 'index.html' %}
{% block titulo%}Ordenes de compra Finalizadas{% endblock titulo%}
{% block cuerpo%}
<div class="container">
    <div class="table-container mt-5">
        <h2>Pedidos Finalizados</h2>
        <table class="table table-hover" border="2">
            <thead class="table-info">
                <tr>
                    <th width="10%" scope="col">Numero del pedido</th>
                    <th width="10%" scope="col">producto</th>
                    <th width="12%" scope="col">proveedor</th>
                    <th width="10%" scope="col">Fecha</th>
                    <th width="10%" scope="col">Estado</th>
                    <th width="10%" scope="col">Orden De Compra</th>
    
                </tr>
            </thead>
            <tbody>
                {% for producto in object_list %}
                    <tr>
                        <td>{{ producto.numero_pedido }}</td>
                        <td>{{ producto.producto }}</td>
                        <td>{{ producto.proveedor }}</td>
                        <td>{{ producto.created }}</td>
                        <td>{{ producto.estado_pedido }}</td>
                        <td><div class="d-flex justify-content-evenly">
                            <a href="{% url 'orders_purchase_info_finalized' producto.id %}" class="btn btn-outline-primary">Ver Info</a>
                        </div>
                        </td>
                    </tr>
                    {% endfor %}
            </tbody>
        </table>
        <a href="{% url 'order_purchase_opcion' %}" class="btn btn-outline-secondary">Volver</a>
</div>


{% endblock cuerpo%}